// AntD 主题定制文档
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less#L418

// Cloud IDE Token 文档
// https://yuque.antfin-inc.com/ide-framework/ide-token/button

// antd Button 相关文件见 https://github.com/ant-design/ant-design/blob/master/components/button/style/mixin.less

// 在 AntD 的设计里面，按钮有 8 中情况
// - 四种类型: 主按钮、次按钮、虚线按钮、链接按钮
// - 两种属性: 无属性、危险属性

// Primary Button 主按钮
// 主按钮的前景色
@btn-primary-color: var(--kt-primaryButton-foreground);
// 主按钮的背景色
@btn-primary-bg: var(--kt-primaryButton-background);

@btn-primary-color: var(--kt-primaryButton-foreground);
@btn-primary-bg: var(--kt-primaryButton-background);

// default button style
// https://github.com/ant-design/ant-design/blob/master/components/button/style/mixin.less#L256
@btn-default-color: var(--kt-defaultButton-foreground);
@btn-default-bg: var(--kt-defaultButton-background);
@btn-default-border: var(--kt-defaultButton-border);

// Danger Button 危险按钮
// 危险按钮的前景色
@btn-danger-color: var(--kt-dangerButton-foreground);
// 危险按钮的背景色
@btn-danger-bg: var(--kt-dangerButton-background);
@btn-danger-border: var(--kt-dangerButton-background);

// https://github.com/ant-design/ant-design/blob/master/components/button/style/mixin.less#L14
// for mixin: .button-disabled
@btn-disable-color: var(--kt-button-disableForeground);
@btn-disable-bg: var(--kt-button-disableBackground);
@btn-disable-border: var(--kt-button-disableBorder);

@btn-default-ghost-color: var(--kt-whiteGhostButton-foreground);
@btn-default-ghost-bg: transparent;
@btn-default-ghost-border: var(--kt-whiteGhostButton-border);

@btn-group-border: @primary-5;

// btn-shadow
// @btn-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
// @btn-primary-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
// @btn-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);

.@{ant-prefix}-btn .anticon {
  // 由于 button 中带 icon 的情况下 默认 .anticon 使用的 `var(--icon-foreground)`
  // 下方 svg 的 fill: currentColor 导致色调不协调，因此默认让 icon 读取 button 的 color
  color: inherit;
}
