// AntD 主题定制文档
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less#L418

// OpenSumi Token 文档
// https://github.com/opensumi/core/wiki/Checkbox-%E5%A4%9A%E9%80%89%E6%A1%86

// 多选框的背景色
@checkbox-check-bg: var(--checkbox-background);
// 多选框边框
.@{ant-prefix}-checkbox-inner {
  border-color: var(--checkbox-border);
}
// 多选框 hover 时的描边色
@checkbox-color: var(--kt-checkbox-hoverBorder);
// 多选框选中时的前景色和背景色
.@{ant-prefix}-checkbox-checked {
  .@{ant-prefix}-checkbox-inner {
    // https://github.com/ant-design/ant-design/blob/master/components/checkbox/style/mixin.less#L108
    color: var(--kt-checkbox-selectionForeground);
    background-color: var(--kt-checkbox-selectionBackground);
  }
}
// 失效时候的前景色和背景色
.@{ant-prefix}-checkbox-disabled {
  .@{ant-prefix}-checkbox-inner {
    // https://github.com/ant-design/ant-design/blob/master/components/checkbox/style/mixin.less#L113
    color: var(--kt-checkbox-disableForeground);
    background-color: var(--kt-checkbox-disableBackground);
  }
}
