// AntD 主题定制文档
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less#L418
// https://github.com/ant-design/ant-design/blob/master/components/input-number/style/index.less

// OpenSumi Token 文档
// https://github.com/opensumi/core/wiki/Input-%E8%BE%93%E5%85%A5%E6%A1%86

@input-number-prefix-cls: ~'@{ant-prefix}-input-number';
@form-item-prefix-cls: ~'@{ant-prefix}-form-item';

.@{input-number-prefix-cls} {
  // https://github.com/ant-design/ant-design/blob/master/components/input-number/style/index.less#L16
  border-color: var(--kt-input-border);
  box-shadow: none;
}
