// AntD 主题定制文档
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less#L418

// Cloud IDE Token 文档，这部分参考 Select 的下拉选择列表的样式
// https://yuque.antfin-inc.com/ide-framework/ide-token/select

// 下拉面板的前景色
@menu-item-color: var(--kt-selectDropdown-foreground); 
// 和前景色保持一致（不要有多余的文字颜色）
@menu-highlight-color: var(--kt-selectDropdown-foreground);
// 下拉面板中分组文本的前景色
@menu-item-group-title-color: var(--selectDropdown-teamForeground);
// 下拉面板的背景色
@menu-bg: var(--kt-selectDropdown-background);
// 下拉项 hover 时的背景色
.@{ant-prefix}-menu-item:hover,
.@{ant-prefix}-menu-submenu-active {
  // https://github.com/ant-design/ant-design/blob/master/components/menu/style/index.less#L103
  background-color: var(--kt-selectDropdown-hoverBackground);
}
// 下拉选项的高度
@menu-item-height: 26px;
// 下拉项选中时的背景色
@menu-item-active-bg: var(--kt-selectDropdown-selectionBackground);
